body {
  font-size: 16px;
  font-family: 'Pontano+Sans', sans-serif;
  color: #5B5B5E;
}

header {
  display: flex;
  height: 4rem;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: white;
  top: 0;
}

.mobileheader {
  display: none;
}
header li a {
  text-decoration:none;
}

header img {
  display: inline-flex;
  padding-left: 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
}


#colmar {
  font-weight: bold;
  padding-top: 1.4rem;
}

#academy {
  font-weight: bold;
  color: lightgrey;
  padding-top: 1.4rem;
}

.logo {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  padding-right: 50rem;
}

.logo h1 {
  padding-bottom: 2rem;
}
header li {
  display: inline-flex;
  padding-right: 1rem;
  font-size: 1.5rem;
  text-align: right;
  color: #6A687A;

}

a:visited {
  color: inherit;
  text-decoration: none;
  -webkit-box-shadow: none;
}

.content {
  width: auto;
}

.greycontainer {
  background-color: lightgrey;
  width: auto;
  display: inline-flex;
}

.greycontainer img {
  max-width: 60%;
  max-height: 60%;
  padding: 6rem 0rem 1.5rem 1.5rem;

}
.text {
  padding-left: 2.5rem;
  padding-top: 12rem;
}

.text h2 {
  font-size: 4rem;
}

.text p {
  font-size: 1.7rem;
}

.text h4 {
  font-size: 1.5rem;
}
.greybttn {
  background-color: grey;
  color: white;
  height: 2.5rem;
  text-align: center;
  width: 20rem;
}

.middlecontainer {
  display: inline-flex;
  width: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

}
.leftcontainer {
  width: auto;
  padding-left: 2rem;
}
.leftcontainer img {
  max-width: 57rem;
  margin-bottom: 2rem;
}

.leftcontainer h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.leftcontainer p{
  font-size: 1.25rem;
}

#author {
  margin-top: 3rem;
}

.rightcont {
  display: inline-block;
  padding-left: 1.5rem;
  width: auto;
}
.rightcont img {
  size: 35%;
  padding-bottom: 2rem;
}

.campustext,
.orientationtext,
.textbox {
  padding-left: 24px;

}


.orientation {
  display: inline-flex;
  padding: 0rem 1rem 1rem 1rem;
}

.campus {
  display: inline-flex;
  padding: 1rem;
}

.rightcont h3 {
  font-size: 2rem;
  text-align:left;
  color: #444445;
}

.rightcont p {
  font-size: 1rem;
}

.rightcont h4 {
  font-size: 1rem;
  color: #3FB7E2;
}

.guest {
  display: inline-flex;
  background-color: lightgrey;
  padding: 1rem;
  margin-bottom: 3rem;
}

.thirdcont {
  display: flex;
  background-color: #E2E1E4;
  flex-wrap: wrap;
  width: auto;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;

}

.box img {
  width: 100%;
}

.info {
  padding: 1rem 0rem 1.5rem 1rem;
}

.box {
  display: block;
  background-color: white;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width:30%;
}

.boxes {
  display: inline-flex;
  padding-left: 4rem;
  padding-bottom: 2rem;
  background-color: #E2E1E4;
  width: auto;
  flex-wrap: wrap;
}
.bottomcont {


}

.title {
  padding-bottom: 2rem;
}

.left {
  width: 60%;
  margin-left: 1.5rem;
}

.left img {
  padding-bottom: 1.5rem;
}
.container {
  display: inline-flex;
}
.left video {
  width: 100%;
}

.left h3 {
  font-size: 1.9rem;
}

.left p {
  font-size: 1.5rem;
  font-family: serif;
}

.right {
  flex-direction: column;
  margin-left: 1rem;
  width: auto;
}

.fisma img {
  padding: 1rem;
  size: 35%;
}

.fisma.text {
  display: flex;
}

.fisma {
  background-color: lightgrey;
  height: 10.5rem;
  display: inline-flex;
}

.now {
  display: inline-flex;
  background-color:white;
  height: 10.5rem;
}

.now img {
  padding: 1rem;
  size: 35%;
}

footer {
  margin-left:1.5rem;
  font-size: 1.25rem;
  display: inline-flex;
  text-align: center;
}

footer span {
  padding-right: 1rem;
}

.terms {
  padding-left: 59rem;
  padding-top: 1.5rem;

}

@media only screen and (max-width:480px) and (orientation: portrait) {
  header li,
  .logo {
    display: none;
  }

  header {
    position: relative;
  }

  .greycontainer img {
    display: none;
  }

  .greycontainer text {
    padding-top: 5rem;
  }

  .mobilespc {
    background-color: darkgrey;
    height: 180px;
  }

  .mobileheader {
    display: inherit;
  }

  .mobileheader img {
    size: 2rem;
  }

}
